<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Управление доступом к участку № {*allotment.id*}</title>
    <link rel="stylesheet" href="/frontend/styles.css">

    {* + ../_favicons.html *}

    <script type="text/javascript" src="/frontend/jquery/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/frontend/scripts.js"></script>
    <script type="text/javascript" src="/frontend/places_manage.js"></script>
</head>
<body>
<button data-url="/" style="float: left" class="action-goto-url xlarge">К СПИСКУ УЧАСТКОВ</button>
<button data-url="/places/edit?id={*allotment.id*}" style="float: right" class="action-goto-url xlarge">РЕДАКТИРОВАТЬ</button>
<hr style="clear: both;">
<input type="hidden" name="allotment_hidden_id" value="{*allotment.id*}" id="allotment_hidden_id">
<table border="0" width="100%">
    <tr>
        <td colspan="3"  style="font-size: large">
            <!-- Верхняя таблица - информация об участке -->
            <table width="100%">
                <tr>
                    <td width="30%" height="35">
                        Номер участка и очередь
                    </td>
                    <td>
                        <strong>{*allotment.name*}</strong>
                        ({*allotment.pipeline*})
                    </td>
                </tr>
                <tr>
                    <td height="35">
                        Ф.И.О. владельца участка
                    </td>
                    <td>
                        <strong>{*allotment.owner*}</strong>
                    </td>
                </tr>
                <tr>
                    <td height="35">
                        Доступ к участку
                    </td>
                    <td>
                        {?*allotment.status="1"*}
                        <span class="block_owner_status block_owner_status_allowed">РАЗРЕШЕН</span>
                        {?!}
                        <span class="block_owner_status block_owner_status_restricted">ОГРАНИЧЕН</span>
                        {?}
                    </td>
                </tr>
            </table>
            <!-- Конец: Верхняя таблица - информация об участке -->
        </td>
    </tr>
    <tr class="tr-td-align-center">
        <th width="30%"><h3>Телефоны</h3></th>
        <th width="40%"><h3>Постоянные пропуска</h3></th>
        <th><h3>Временные пропуска</h3></th>
    </tr>
    <tr valign="top">
        <td width="30%">
            <!-- Таблица телефонов -->
            <ul class="bulletless" id="container-phones">
                <li>
                    <label for="input-add-phone">
                        <input type="text"
                               size="20"
                               placeholder="Телефон"
                               id="input-add-phone">
                        <button id="actor-add-phone">Добавить</button>
                    </label>
                </li>
                {%*phones*}
                <li data-id="{*phones:id*}">
                    <input type="text" size="18" data-id="{*phones:id*}" value="{*phones:phone_number*}" disabled>
                    <button class="action-delete-phone" data-id="{*phones:id*}">DELETE</button>
                </li>
                {%}
            </ul>

        </td>
        <td width="40%">
            <!-- Таблица ПОСТОЯННЫХ пропусков на авто -->
            <ul class="bulletless" id="container-transport">
                <li>
                    <label for="input-add-transport">
                        <input type="text"
                               width="60"
                               placeholder="Номер транспортного средства"
                               id="input-add-transport">
                        <button id="actor-add-transport">Добавить</button>
                    </label>
                </li>
                {%*transport_permanent*}
                <li data-id="{*transport_permanent:id*}">
                    <input type="text" width="60" data-id="{*transport_permanent:id*}" value="{*transport_permanent:transport_number*}" disabled>
                    <button class="action-delete-transport" data-id="{*transport_permanent:id*}">DELETE</button>
                </li>
                {%}
            </ul>
        </td>
        <td width="40%">
            <!-- список временных пропусков (просто для справки) -->
            <table width="100%" border="0">
                <tr>
                    <th>№</th>
                    <th>Истекает</th>
                </tr>
                {?* transport_temporary^COUNT *}
                {%*transport_temporary*}
                <tr>
                    <td>{*transport_temporary:transport_number*}</td>
                    <td>{*transport_temporary:pass_expiration*}</td>
                </tr>
                {%}
                {?!}
                <tr>
                    <td colspan="2">
                        Нет временных пропусков
                    </td>
                </tr>
                {?}
            </table>

        </td>
    </tr>


</table>

</body>
</html>