<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Редактирование участка № {*allotment.id*}</title>
    <link rel="stylesheet" href="/frontend/styles.css">

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".action-backward").on('click', function () {
                window.location.href = $(this).data('url');
                return false;
            });

            $(".action-allotment-delete").on('click', function () {
                if (confirm("Действительно удалить? Да/Нет")) {
                    window.location.href = '/places/callback_delete?id=' + $('#allotment_hidden_id').val();
                    return false;
                }
            });
        });
    </script>
</head>
<body>
<h2>Редактирование участка № {*allotment.id*}</h2>
При редактировании участка изменять его очередь или номер нельзя. Только менять владельца.
<hr>
<form method="post" action="/places/callback_edit">
    <input type="hidden" name="allotment_hidden_id" value="{*allotment.id*}" id="allotment_hidden_id">
    <table border="0" width="50%">
        <tr>
            <td>
                Очередь
            </td>
            <td>
                <input type="text" value="{*allotment.pipeline*}" disabled>
            </td>
        </tr>

        <tr>
            <td>
                Номер участка
            </td>
            <td>
                <input
                        type="text"
                        value="{*allotment.name*}"
                        name="index"
                        disabled
                >
            </td>
        </tr>
        <tr>
            <td>
                Ф.И.О. Владельца участка
            </td>
            <td>
                <input
                        type="text"
                        name="owner"
                        value="{*allotment.owner*}"
                        placeholder="Ф.И.О. владельца участка"
                        tabindex="2"
                        required
                >
            </td>
        </tr>
        <tr>
            <td>
                Доступ
            </td>
            <td>
                <input
                        class="switcher_owner_status"
                        id="checkbox_owner_status"
                        type="checkbox"
                        {?*allotment.status="1"*} checked="checked" {?}
                        tabindex="3"
                        name="status"
                >
                <label for="checkbox_owner_status"
                       data-text-true="РАЗРЕШЕН"
                       data-text-false="ОГРАНИЧЕН"><i></i></label>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <hr>
            </td>
        </tr>
        <tr class="align-center">
            <td>
                <button class="action-backward" tabindex="6" data-url="/places">К СПИСКУ УЧАСТКОВ</button>
            </td>
            <td>
                <input type="submit" value="ОБНОВИТЬ ИНФОРМАЦИЮ" tabindex="5">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="button" value="УДАЛИТЬ УЧАСТОК" class="action-allotment-delete">УДАЛИТЬ</button>
            </td>
        </tr>

    </table>
</form>

</body>
</html>