<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Список участков</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".action-allotment-add").on('click', function () {
                document.location.href='/places/add';
            });
            $(".action-allotment-edit").on('click', function () {
                document.location.href='/places/edit?allotment_id'+$(this).data('allotment-id');
            })
        });
    </script>
</head>
<body>
<button class="action-allotment-add">ДОБАВИТЬ</button>
<table width="100%" border="1">
    <tr>
        <th>Очередь</th>
        <th>Номер участка</th>
        <th>ФИО Владельца</th>
        <th colspan="2">Статус</th>
    </tr>
    {?*allotments_count*}
    {%*allotments_list*}
    <tr>
        <td>{*allotments_list:pipeline*}</td>
        <td>{*allotments_list:name*}</td>
        <td>{*allotments_list:owner*}</td>
        <td>{*allotments_list:status*}</td>
        <th><button data-allotment-id="{*allotments_list:id*}" class="action-allotment-edit">Edit this</button></th>
    </tr>
    {%}
    {?}

    {?!*allotments_count*}
    <tr>
        <td colspan="5">
            Записей нет
        </td>
    </tr>
    {?}
</table>

</body>
</html>