<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Список участков</title>
    <script type="text/javascript" src="/frontend/jquery/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="/frontend/styles.css">
    <script type="text/javascript">
        var urls = {
            'add':  '/places/add',
            'edit': '/places/edit?id=',
            'list': '/places'
        };
        $(document).ready(function () {
            $('.action-list-manage').on('click', function () {
                window.location.href = '/places/manage?id=' + $(this).data('id');
            });
        });
    </script>
    <script type="text/javascript" src="/frontend/scripts.js"></script>
    <style type="text/css"></style>
</head>
<body>
<button class="action-list-back" data-url="/">НАЗАД</button>
<button class="action-list-add">ДОБАВИТЬ</button>
<table width="80%" border="1">
    <tr>
        <th width="5%">Очередь</th>
        <th width="10%">Номер участка</th>
        <th>ФИО Владельца</th>
        <th width="20%" colspan="2">Статус</th>
    </tr>
    {?*allotments_count*}
    {%*allotments_list*}
    <tr>
        <td class="align-center">{*allotments_list:pipeline*}</td>
        <td class="align-center">{*allotments_list:name*}</td>
        <td>{*allotments_list:owner*}</td>
        <td class="align-center">
            {?*allotments_list:status = "allowed"*}
            <strong class="status_allowed">{*allotments_list:status*}</strong>
            {?!}
            <strong class="status_restricted">{*allotments_list:status*}</strong>
            {?}
        </td>
        <th class="align-center">
            <button data-id="{*allotments_list:id*}" class="action-list-edit">Редактировать участок</button>
            <hr>
            <button data-id="{*allotments_list:id*}" class="action-list-manage">Настроить права доступа</button>
        </th>
    </tr>
    {%}

    {?!}
    <tr>
        <td colspan="5">
            Записей нет
        </td>
    </tr>
    {?}
</table>

</body>
</html>