<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Другие действия</title>
    {* + ../_copyright.html *}
    {* + ../_favicons.html *}
    <link rel="stylesheet" href="/frontend/styles.css">
    <script type="text/javascript" src="/frontend/jquery/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/frontend/scripts.js"></script>
</head>
<body>
<ul class="bulletless">
    <li>
        <button data-url="/transport/" class="action-goto-url xlarge">Список транспортных средств</button>
    </li>
    <li>
        <button data-url="/places/add" class="action-goto-url xlarge">Добавить участок</button>
    </li>
</ul>


</body>
</html>