# --- Where: gatehouse.local @ example host

# Paths #
# все пути прописываются с финальным слэшем

INSTALL_PATH    = "/var/www/gatehouse/"
PATH_LOGS       = "logs/"

# DB #
# Основная база данных (вы же понимаете, что это фейковыйе данные?)

DB_HOST         = "localhost"
DB_PORT         = 3306
DB_USER         = "root"
DB_PASS         = "password"
DB_NAME         = "gatehouse"

# CUSTOM_BEHAVIOR

TRANSPORT_TRANSLATE_NUMBER = 1              # 1 если производить трансляцию номера в латиницу
TRANSPORT_UNIQUE_AT_ALLOTMENT = 1           # 1 если транспорт уникален только в пределах участка, 0 - везде

# DEBUG SETTINGS #

IS_DEBUG        = 1
