<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактирование транспортного средства № {*transport.transport_number*}</title>
    <style type="text/css">
        tr.align-center td {
            text-align: center;
        }
    </style>
    <script type="text/javascript" src="/frontend/jquery/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/frontend/jquery/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/frontend/scripts.js"></script>
    <script type="text/javascript" src="/frontend/datepicker/jquery.datepicker.js"></script>
    <link rel="stylesheet" media="screen" href="/frontend/jquery/jquery-ui.min.css">
    <link rel="stylesheet" media="screen" href="/frontend/datepicker/jquery.datepicker.css" type="text/css" />
    <script type="text/javascript">
        var transport_id = {*transport.id*};
        var unlimited_status = {?*transport.is_pass_unlimited*} true {?!} false {?};

        $(document).ready(function () {
            $(".form-manage-datepicker").datepicker({
                dayNamesMin: ['Вс', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб'],
                monthNames: ['Янв', 'Февр', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Авг', 'Сент', 'Окт', 'Ноябрь', 'Дек'],
                monthNamesShort: ['Янв', 'Февр', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Авг', 'Сент', 'Окт', 'Ноябрь', 'Дек'],
                firstDay: 1,
                dateFormat: 'yy-mm-dd',
                showOn: 'both',
                buttonText: "Выбрать дату",
                changeMonth: true,
                changeYear: true,
                defaultDate: now.getFullYear() + '-' + eMonth + '-' + eDay,
                minDate: "-20",
                maxDate: "+3Y"
            });

            $("#actor-switch-unlimited-status").on('click', function () {
                $("input[name='pass_expiration']").prop("disabled", !unlimited_status);
                $(".ui-datepicker-trigger").prop("disabled", !unlimited_status);
                unlimited_status = !unlimited_status;
            });

            $(".ui-datepicker-trigger").prop("disabled", unlimited_status);

            $(".action-transport-delete").on('click', function () {
                if (confirm("Действительно удалить? Да/Нет")) {
                    window.location.href = '/transport/callback_delete?id=' + transport_id;
                    return false;
                }
            });
        });
    </script>
</head>
<body>
<h2>Редактирование транспортного средства № {*transport.transport_number*}</h2>
<form method="post" action="/transport/callback_edit">
    <input type="hidden" name="transport_hidden_id" value="{*transport.id*}" id="transport_hidden_id">
    <table border="0" width="50%">
        <tr>
            <td>
                Номер участка:
            </td>
            <td>
                <input type="text" value="{*transport.id_allotment*} ({*transport.pipeline_name*})" size="40" disabled>
            </td>
        </tr>
        <tr>
            <td>
                Номер транспортного средства:
            </td>
            <td>
                <input type="text"
                       value="{*transport.transport_number*}"
                       name="transport_number"
                       placeholder="Номер транспортного средства"
                       tabindex="2"
                >
            </td>
        </tr>
        <tr>
            <td>Срок действия</td>
            <td>
                <label for="actor-switch-unlimited-status">
                    Бессрочный
                    <input type="checkbox"
                           name="is_pass_unlimited"
                           id="actor-switch-unlimited-status"
                           {?*transport.is_pass_unlimited*}checked="checked"{?}
                    >
                </label>
                <br>
                <label for="input-pass-expiration" style="display: inline-block;">Истекает:</label>
                <input type="text"
                       class="datepicker form-manage-datepicker"
                       id="input-pass-expiration"
                       name="pass_expiration"
                       placeholder="Год/месяц/день"
                       pattern="/[0-9]{4}\-[0-9]{2}\-[0-9]{2}/"
                       value="{*transport.pass_expiration*}"
                       {?*transport.is_pass_unlimited*}disabled{?}
                >
            </td>
        </tr>
        <tr>
            <td>
                Номер телефона регистрации<br> временного пропуска
            </td>
            <td>
                <input type="text"
                       name="phone_number_temp"
                       placeholder="Номер телефона"
                       value=""
                       size="40"
                >
            </td>
        </tr>
        <tr class="align-center">
            <td>
                <button class="action-backward" data-url="/transport" tabindex="6">НАЗАД</button>
            </td>
            <td>
                <input type="submit" value="ОТРЕДАКТИРОВАТЬ ТРАНСПОРТНОЕ СРЕДСТВО" tabindex="5">
                &nbsp;&nbsp;&nbsp;&nbsp;
                <button type="button" value="УДАЛИТЬ ТРАНСПОРТНОЕ СРЕДСТВО" class="action-transport-delete">УДАЛИТЬ</button>
            </td>
        </tr>

    </table>
</form>

</body>
</html>